.Box{
    width: 80%;
    height: 450px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 80px;
    background: linear-gradient(to bottom, #273469, #1E2749);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    grid-auto-rows: 1fr;
}
.DatosTarjeta{
    grid-column: 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
    align-self: center;
    margin: 0 auto;
    background-color: #30343F;
    border-radius: 20px;
    padding: 10px;
}
.ImageTarjeta{
    grid-column: 1;
    grid-row: 1;
    width: 80%;
    height: 70%;
    align-self: center;
    margin: 0 auto;
    background-color: #6e2121;
    border-radius: 50px;
}

label{
    color: white;
    margin: 5px;
    font-size: 18px;
}
input{
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
}

.Boton{
    margin: 40px;
    padding: 10px;
    margin-left: 79%;
    background-color: #30343F;
    border-radius: 10px;
    border-color: transparent;
    font-size: 20px;
    color: white;
}